* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  background: #187696;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
}

.keyboard {
  display: grid;
  grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px;
  grid-template-rows: 70px 70px 70px 70px 70px;
  column-gap: 0.5rem;
  padding: 2rem;
}

.key {
  margin: 3px;
  cursor: pointer;
  border-radius: 4px;
  background: #69c6e6;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px black;
  box-shadow: 3px 3px black;
}

.key-pressed {
  background: black;
  opacity: 50%;
}

.screen {
  font-size: 2.5rem;
  resize: none;
  border-bottom: 2px solid black;
  background-color: #2232;
  padding: 2rem 4rem;
  height: 20rem;
  width: 100vw;
  max-width: 100%;
}

.screen::placeholder {
  color: black;
  font-weight: bold;
}

.screen:focus {
  outline: none;
}

#space-bar {
  width: 20rem;
  height: 45px;
  cursor: pointer;
  position: relative;
  left: 15rem;
}

#caps-light {
  border-radius: 10px;
  width: 10px;
  height: 10px;
  opacity: 50%;
  border: 0.5px solid black;
}

.caps-light-off {
  background: transparent;
}

.caps-light-on {
  background: rgb(0, 255, 0);
}

img {
  width: 50%;
  position: relative;
}

.Backspace {
  top: 15%;
}

.CapsLock {
  top: 10%;
}

.Enter {
  width: 40%;
}
